Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.scc
*.vspscc
[Ll]og
*ErrorLog*
Task.txt
.vs/

#package包请勿推到git，请用nuget还原方式拉dll
packages/[0-9a-zA-Z.-]*
!repositories.config
*.orig